<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/nav.ejs') %>  
    <h1>contactpage</h1>
   

    <h2>thanks....form submmittes</h2>
    <p>you contacted<%=data.who %>in the <%= data.department %>department.</p>
    <p>we will reply you at <%= data.email%></p>
</body>
</html>